body {
  background-color: rgb(255, 233, 109);
}

h1 {
  font-family: poppins;
}

.header {
  display: flex;
  justify-content: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.masterball {
  height: 100px;
}